.root {
  
 
 
}

.root h3{
  
  
  /* bottom: 40%; */
  color:white;
  background-color: rgba(88, 88, 88, 0.3);
  width: 100%;
  text-align: center;
  padding:1.5rem;
  transform: rotate(-2deg);
  z-index: 1;
  /* margin:0 */
  /* max-width: clamp(300px, 50%, 600px); */
}


.root img{
  width: 100%;
  margin-bottom: 1rem;
}

.root div{
  text-align: center;
}

.root div a{
  
  margin: 1rem auto;
}

.root ul{
 list-style: none;
 padding: 0;
 display: inline-flex;
}

