@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #dfdfdf;
  color: #333;
  font-family: "Roboto";
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: clamp(300px, 50%, 600px);
  border-radius: 0.5rem;
}

#main {
  width: 960px;
  margin: 0 auto;
}

nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 1rem;
  padding-bottom: 5px;
}

nav .logo {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

nav .logo a {
  margin: 0;
  padding: 0;
}


.content {
  min-height: 79vh;
  margin: 0 auto;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 10px 0 0;
  margin-top: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer ul a {
  margin: 0 1rem;
}

footer span {
  display: block;
  font-size: 0.8rem;
}

@media (max-width: 900px) {
  #main {
    width: 100%;
  }
}

.btn {
  background-color: #a7a7a7;
  border: 0 solid #e5e7eb;
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  margin-top: 0.5rem;
  position: relative;
  text-align: center;
  text-decoration: none #333 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 275px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: "";
  position: absolute;
  border: 0.07rem solid #333;
  border-radius: 0.25rem;
  bottom: 0.25rem;
  left: 0.4rem;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn:hover:after,
.active:after {
  bottom: 0.1rem;
  left: 0.1rem;
  transform: none;
}



.nav-link {
  max-width: 6rem;
  line-height: 1.5rem;
  padding: 0.5rem;
}

