@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
html{scroll-behavior: smooth}
body {
  background: #f2f2f2;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  font-weight: 700;
}

nav a:hover,
nav a:focus{
  color: #6ace6a;
}

h1,
h2,
h3 {
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}

#main {
  width: 100%;
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background-color: white;
  z-index: 3;
}

.logo {
  margin-right: auto;
  display: flex;
  cursor: pointer;
}

.logo a {
  margin: 0;
  padding: 0;
}

#avatar {
  border-radius: 50%;
}

.mobile-nav-button{
  display: none;
}

.nav-mobile{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block-start: 6rem;
  background-color: white;
  z-index: 2;
}
.nav-mobile a{
  border-block-end: 0.1rem solid ;
}

.nav-mobile a:last-child{
  border: none;
}

.section {
  width: 100%;
  min-height: 100vh;
  padding-block: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 60rem;
  padding-inline: 0.5rem;
}

.bg-white {
  background-color: #ebebeb;
}

.header {
  text-align: center;
  margin-block-end: 2rem;
  padding-inline: 0.5rem;
  z-index: 1;
}
.header h2 {
  font-size: 2.5rem;
}

.btn{
  background-color: #6ace6a;
  padding: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.25rem;
  text-align: center;
}

.btn-light{
  background-color: #c6d8b5;
  padding-inline: 3rem;
}

.social-links-main{
  position: absolute;
  left: 0;
  list-style: none;
  padding: 0;
  background-color: transparent;
}

.green-bg{
  background-image: url("../public/images/green-bg.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.pos-relative{
  position: relative;
}
.main{
  font-size: 1.5em;
  text-align: center;
  position: relative;
  width: 100%;
}

.main p{
  max-width: 40rem;
  margin: 0 auto 2rem;
}

.cv-link{
  color: #6ace6a;
  padding: 0;
  font-size: 1.1rem;
  text-decoration: underline;
}

.projects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  z-index: 1;
}

.project-container {
  text-align: center;
}

.project-image {
  width: 10rem;
  height: 10rem;
  border-radius:0.25rem;
}

/*form*/
form {
  max-width: 45rem;
  height: auto;
  padding:1rem;
  background-color: white;
  border-radius: 0.5rem;
}

form input {
  line-height: 30px;
}

form input,
form textarea {
  width: 100%;
  font-family: "Nunito";
  font-size: 1rem;
  border: 0;
  border-radius: 0.25rem;
  margin-block-start: 0.5rem;
  margin-block-end: 2rem;
  padding: 0.5rem;
  background-color: #efefef;
}
form textarea {
  height: 100px;
  resize: none;
  margin-bottom: 0;
}

form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 2px 2px 10px #969696;
}

label {
  color: #666;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-block-end: 1rem;
}
.message-length{
  display: block;
  margin-left: auto;
  text-align: center;
  padding: 0.5rem;
  opacity: 0.7;
  font-size: 0.8rem;
  width: 10rem;
  border-radius: 0.25rem;
}

.message{
  width: 100%;
  padding: 1rem;
  font-weight: bold;
  opacity: 0.7;
  border-radius: 0.2rem;
}
.error{
  color: red;
  background-color: rgb(250, 153, 148);
  border: 1px solid red;
}

.success {
  color: rgb(0, 62, 0);
  background-color: rgb(148, 250, 148);
  border: 1px solid green;
}

footer {
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 10px 0 0;
}

footer ul {
  list-style: none;
  width: 15rem;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}

footer span {
  display: block;
  font-size: 0.8rem;
  margin-block:0.5rem;
}

@media (max-width: 768px) {
  .nav-links,
  .social-links-main{
    display: none;
  }
  .mobile-nav-button{display: block;}
  .btn{
    width: 100%;
  }
  #main {
    width: 100%;
  }
}



/* .btn {
  background-color: #6ace6a;
  border: 0 solid #e5e7eb;
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  margin: 1rem auto;
  position: relative;
  text-align: center;
  text-decoration: none #333 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 275px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: "";
  position: absolute;
  border: 0.07rem solid;
  border-radius: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
  width: calc(100% - 0.1rem);
  height: calc(100% - 0.1rem);
}

.btn:hover:after,
.active:after {
  bottom: 0.1rem;
  left: 0.1rem;
  transform: none;
} */
