.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.prev {
  transform: rotate(180deg);
  
  opacity: 0.3
}
.next {
 
  opacity: 0.3;
}

@media only screen and (max-width: 600px) {
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}
