.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.prev {
  transform: rotate(180deg);
  margin-right: 1rem;
  opacity: 0.3
}
.next {
 margin-left: 1rem;
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
}
